body {
    margin: 0;
    padding: 0;
    background: #CCCCFF;
    color: green;
}

div {
  display: flex;
  justify-content: center;
    
  
  
}

button {
    position: absolute;
    top: 50%;
    bottom: 50%;
    color: black;
    width: 500px;
    height: 100px;
    transform: translate(-50%, -50%);
    padding: 1opx;
    border: none;
    background-color: white;
    outline: none;
    font-size: 30px;
    cursor: pointer; 
}

